/* normal screen */
.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

/*max 1027px */
@media screen and (max-width: 1027px) {
  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }
}
/* }
max 768px */
@media screen and (max-width: 768px) {
  .items {
    display: grid;

    grid-template-rows: repeat(8, 1fr);
    gap: 30px;
  }
}
/* total of 8 images */
/* 4 items per row for normal screensize */
/* 3 item per row layout when screen width equals or smaller than 1027px */
/* 1 item per row layout when sreen width equals or smaller than 768px */

/* after sytling in CSS, try to convert into less CSS (memorization) */
